
body {
    color: #ffffff;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/assets/images/bg-mobile.svg);
    background-repeat: no-repeat;
}

/* CABEÇALHO */
.logotype {
    text-align: left;
    margin: 30px 33px;
}

.logotype img {
    width: 130px;
}


/* IMAGEM FRONTAL */
.front {
    text-align: center;
}

.front-image {
    margin: 30px 0px;
    width: 300px;
}

/* TEXTO PRINCIPAL */
.front-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.3rem;
    text-align: center;
    margin: 5% 11%;
}

.front-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 10px 11%;
    line-height: 1.5rem;
}

/* FOOTER */
 /* Feel free to remove these styles or customise in your own stylesheet 👍  */
.attribution {
    font-size: 8px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}