
body {
    color: #ffffff;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/assets/images/bg-mobile.svg);
    background-repeat: no-repeat;
}

/* HEADER */
.logotype {
    text-align: left;
    margin: 30px 33px;
}

.logotype img {
    width: 130px;
}


/* FRONT IMAGE */
.front {
    text-align: center;
}

.front-image {
    margin: 30px 0px;
    width: 300px;
}

/* MAIN TEXT */
.front-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.3rem;
    text-align: center;
    margin: 5% 11%;
}

.front-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 10px 11%;
    line-height: 1.5rem;
}

/* REGISTER BUTTON */
.register {
    text-align: center;
}

.register-button {
    color: hsl(257, 40%, 49%);
    background-color: #ffffff;
    border: solid #ffffff 1rem;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
    width: 200px;
    margin: 20px 0;
    box-shadow: 0px 3px 5px hsl(257, 40%, 33%);
}

/* FOOTER */
 /* Feel free to remove these styles or customise in your own stylesheet 👍  */
.attribution {
    font-size: 8px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}